<html align=center>
  <head>
    <h1>Caesar Cipher</h1>
  </head>
  <body bgcolor=#a3c2d9>
    <pre>
Encode a message using the Caesar Cipher.
The Caesar Cipher encrypts a MESSAGE by shifting each letter up or down the 
alphabet by a KEY amount. Enter a MESSAGE followed by a numerical KEY below.
    </pre>    
    <form>
      <input type='text' name='message' size=80 placeholder="Message"/>
      <input type='number' name='key' style="width: 40px;" placeholder=0 />
      <input type='submit' value='Encode' />
    </form>
    <p >
      <%= cipher %>
    </p>

  </body>
</html>